.game {
  background: rgba(15, 23, 42, 0.9);
  border-radius: 24px;
  padding: 32px 32px;

  color: #e5e7eb;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.game-title {
  margin: 15px 0;
  font-size: 35px;
  letter-spacing: 3px;
}

.game__status {
  margin: 15px 0;
  font-size: 20px;
}

.game-meta {
  font-size: 16px;
  color: #b7bdc6;
}
